.table {
  border-collapse: collapse;
  width: 100%;
}

.headCell {
  font-weight: var(--fontWeightMedium);
  text-align: left;
}

.cell,
.headCell {
  padding-bottom: var(--spaceM);

  &:last-child {
    padding-right: 0;
  }
}
