.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100;
  background-color: white;
  padding-top: 120px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 10px;
}

.background {
  height: 5px;
  background-image: repeating-linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc),
    repeating-linear-gradient(45deg, #ccc 25%, #ffffff 25%, #ffffff 75%, #ccc 75%, #ccc);
  background-position: 0 0, 1px 1px;
  background-size: 2px 2px;

  border: none;
  flex: 1;
  margin-right: 10px;
  color: black;
}

.foreground {
  height: 100%;
  background: var(--redHighlight);
}

.slider {
  width: 90px;
  height: 30px;
}
