.navContainer {
  position: fixed;
  display: inline-block;
  padding: 30px;

  z-index: 1000;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

@media (max-width: 800px) {
  .navContainer {
    padding: 10px;
  }
}
